<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-Page</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <form action="/logout" method="post" class="container">
        <div class="box">
            <label>Welcome! , Now you are Log IN</label>
            
        </div>
        
        <div class="box">
            <button class="logg" type="submit">Logout</button>
        
        </div>
    </div>
    </form>
</body>
</html>