
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-Page</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <form action="/signup" method="post" class="container">
    <div class="box">
            <label>Username</label>
            <input type="text" name="name" required >
        </div>
        <div class="box">
            <label>Email</label>
            <input type="email" name="email" required>
        </div>
        
        <div class="box">
            <label>Password</label>
            <input type="password" name="pass" required >
        </div>
        <div class="box">
            <button class="logg" type="submit">Log-In</button>
             <input type="reset" value="Reset" class="logg rs">
        </div>
    </div>
    </form>

</body>
</html>